<h2>Metadata</h2>
<p>The metadata info below is for automation purposes and provides discrete fields for tool extraction. If you are not using the tool, we recommend removing the info.</p>
<h3>Threat Actor:</h3>
<ul>
    {%- for threat_actor in metadata.threat_actors -%}
    <li>{{ threat_actor.threat_actor_name }}</li>
    <li>{{ threat_actor.threat_actor_aliases }}</li>
    {%- endfor -%}
</ul>
<h3>Actor Motivation:</h3>
<ul>
    {%- for motive in metadata.threat_actor_motivation -%}
    <li>{{ motive.threat_actor_motivation }}</li>
    {%- endfor -%}
</ul>