<h2>MITRE ATT&amp;CK Table (based on v12)</h2><table>
    <thead>
        <tr>
            <th>Attribution</th>
            <th>Tactics</th>
            <th>Techniques</th>
            <th>Sub Technique</th>
            <th>Procedure</th>
            <th>D3FEND</th>
            <th>Deployed Control</th>
        </tr>
    </thead>
    <tbody>
        {%- for attackTableRow in mitre_attack_table -%}
        <tr>
            <td>{{ attackTableRow.attribution }}</td>
            <td>{{ attackTableRow.tactic }}</td>
            <td>{{ attackTableRow.technique }}</td>
            <td>{{ attackTableRow.sub_technique }}</td>
            <td>{{ attackTableRow.procedure }}</td>
            <td>{{ attackTableRow.defend }}</td>
            <td>{{ attackTableRow.control }}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>