        <p class="report-header">
            <table>
                <thead>
                    <tr>
                        <th>Report Date</th>
                        <th>Report Number</th>
                        <th>Sensitivity</th>
                        <th>Traffic Light Protocol</th>
                        <th>Criticality</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ report_date }}</td>
                        <td>{{ report_number }}</td>
                        <td>{{ sensitivity }}</td>
                        <td>{{ traffic_light_protocol }}</td>
                        <td>{{ criticality }}</td>
                    </tr>
                </tbody>
            </table>
        </p>
        <hr/>
        <h1>{{ report_title }}</h1>