<h2>Timeline of Activity</h2>
<table>
    <thead>
        <tr>
            <th>Attribution</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Sector</th>
            <th>Activity</th>
        </tr>
    </thead>
    <tbody>
        {%- for timelineRow in timeline -%}
        <tr>
            <td>{{ timelineRow.attribution | newline_to_br }}</td>
            <td>{{ timelineRow.start_date }}</td>
            <td>{{ timelineRow.end_date }}</td>
            <td>{{ timelineRow.location }}</td>
            <td>{{ timelineRow.sector }}</td>
            <td>{{ timelineRow.activity | newline_to_br }}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>