<h2>Attached Attack Flow and/or Navigator Heat Maps, if applicable</h2>
<h2>Probability Matrix</h2>
<table>
    <thead>
        <tr>
            <th>Almost no chance</th>
            <th>Very unlikely</th>
            <th>Unlikely</th>
            <th>Roughly Even Chance</th>
            <th>Likely</th>
            <th>Very likely</th>
            <th>Almost certain(ly)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01&#8211;05%</td>
            <td>05&#8211;20%</td>
            <td>20&#8211;45%</td>
            <td>45&#8211;55%</td>
            <td>55&#8211;80%</td>
            <td>80&#8211;95%</td>
            <td>95&#8211;99%</td>
        </tr>
    </tbody>
</table>